---
# clang-tidy for lsd_port

Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  portability-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-convert-member-functions-to-static,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionIgnoredRegexp, value: '^func_[0-9A-Fa-f]+$' }

  - { key: readability-identifier-naming.ParameterCase, value: CamelCase }
  - { key: readability-identifier-naming.ParameterIgnoredRegexp, value: '^(argc|argv|envp)$' }

  - { key: readability-identifier-naming.LocalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.LocalConstantCase, value: lower_case }

  - { key: readability-identifier-naming.GlobalVariableCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: 'g_' }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: 'g_' }

  - { key: readability-identifier-naming.MemberCase, value: CamelCase }
  - { key: readability-identifier-naming.MemberPrefix, value: 'm_' }
  - { key: readability-identifier-naming.MemberIgnoredRegexp, value: '^([A-Z][A-Za-z0-9]*|vtable|type_id|x|y|z)$' }

  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.UnionCase, value: lower_case }
  - { key: readability-identifier-naming.EnumCase, value: lower_case }
  - { key: readability-identifier-naming.TypedefCase, value: lower_case }
  - { key: readability-identifier-naming.TypedefSuffix, value: '_t' }

  - { key: readability-identifier-naming.TypedefIgnoredRegexp, value: '^[su](8|16|32|64)$|^f(32|64)$' }
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }

  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }

  - { key: readability-identifier-length.MinimumVariableNameLength, value: 1 }
  - { key: readability-identifier-length.MinimumParameterNameLength, value: 1 }
  - { key: readability-identifier-length.MinimumLoopCounterNameLength, value: 1 }
...
